@use "@/styles/mixin.scss" as mixin;
.wrapper {
  opacity: 0;
  visibility: hidden;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: max(100vh, 660px);
  width: 100%;
  background-color: #2e3141;
  @include mixin.tablet {
    // height: max(90vh, 660px);
  }
  .inner-wrap {
    margin: 0 2rem;
    position: relative;
    width: 100%;
    max-width: 1600px;
    .heading-wrap {
      margin: 4rem 0;
      @include mixin.tablet {
        margin: 4rem 0 6rem 0;
      }
      border-bottom: 1px solid #fff;
      h2 {
        text-align: center;
        font-size: 3rem;
        @include mixin.small {
          font-size: clamp(3.5rem, 10vw, 6rem);
        }
      }
      p {
        text-align: center;
        margin: 0 0 1rem 0;
      }
    }
    .heading {
      max-width: 1200px;
      margin: 2rem auto 4rem auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h2 {
        text-align: start;
      }
      .top {
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        margin: 0 3rem 0 0;
        @include mixin.desktop {
          font-size: clamp(2rem, 3vw, 3.75rem);
        }
      }
      .bottom {
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 0 0 0 2.5rem;
        color: #fff;
        @include mixin.desktop {
          padding: 0 0 0 clamp(2.5rem, 6vw, 3.5rem);
          font-size: clamp(1.5rem, 2.15vw, 3.5rem);
        }
      }
    }
    .contact-grid {
      position: relative;
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      max-width: 1200px;
      margin: 0 auto;
      @include mixin.tablet {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
      }

      @include mixin.tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      .grid-item {
        .holdfield {
          border-bottom: 2px solid #fff;
          margin: 0rem 0px 0.75rem;
          position: relative;
          &.noBorderBottom {
            border-bottom: none;
          }
          .label {
            color: #fff;
            position: absolute;
            top: 20px;
            left: 0px;
            width: 100%;
            font-size: 1rem;
            letter-spacing: 0.05em;
            line-height: 0.95rem;
            height: 100%;
            cursor: text;
            text-transform: uppercase;
            transition: color 0.2s ease-in-out, top 0.5s ease-in-out;
            &.move {
              top: -5px;
              font-size: 0.55rem;
              height: auto;
              font-weight: 700;
            }
          }
          .contactfield {
            font-family: "Arsenal-Bold";
            color: #fff;
            width: 100%;
            border: 0px;
            padding: 1rem 1rem 0.4rem 0rem;
            outline: 0;
            font-size: 1rem;
            line-height: 0.95rem;
          }
          .radioGroup {
            display: flex;
            flex-direction: column;
            justify-content: center; // Horizontal
            align-items: flex-start; // Vertical

            .radioLabel {
              margin: 0.25rem 0;
              display: flex;
              flex-direction: row;
              justify-content: center; // Horizontal
              align-items: center; // Vertical
              &:hover {
                @include mixin.small {
                  cursor: pointer;
                }
              }
              p {
                margin: 0 0 0 0.5rem;
                text-transform: uppercase;
                font-size: 0.9rem;
              }

              input[type="radio"] {
                width: unset;
                margin-right: 0.5rem;
                width: 0.75rem;
                height: 0.75rem;
                vertical-align: middle;
                border-radius: 0.625rem;
                background: none;
                border: 0;
                box-shadow: inset 0 0 0 1.5px #fff;
                appearance: none;
                -webkit-appearance: none;
                padding: 0;
                margin: 0;
                transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
                pointer-events: none;
                margin-bottom: 2px;

                @include mixin.tablet {
                  width: 1rem;
                  height: 1rem;
                }
              }

              input[type="radio"]:checked {
                box-shadow: inset 0 0 0 0.1rem;
                background-color: #fff;
              }
            }
          }
        }
        .btn {
          background-color: #fff;
          padding: 15px 30px;
          max-width: 165px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: background-color 0.2s ease-in, color 0.1s ease-in;
          border: 2px solid #fff;
          @include mixin.desktoplg {
            max-width: clamp(165px, 12vw, 185px);
          }
          p {
            text-transform: uppercase;
            color: #2e3141;
            // transition: color 0.1s ease-in;
          }
          &:hover {
            @include mixin.small {
              color: #fff;
              background-color: transparent;
              p {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.thankyoucontent {
  text-align: center;
  font-size: 1.25rem;
  @include mixin.tablet {
    font-size: clamp(1rem, 3vw, 2rem);
  }
}
